<ion-view view-title="Timetable">
  <ion-content class="padding" style="background-image:url(img/startbg.png)">
	<div class="spacer" style="height: 250px;"></div>
    <a class="button button-balanced button-block" href="#/login">Login</a>
	<!--<button class="button button-positive button-block"><i class="el el-facebook"></i> Login with Facebook</button>-->
	<p class="text-center">- or -</p>
	<a class="button button-clear button-dark button-block" href="#/signup-profile">Create an account</a>
  </ion-content>
</ion-view>