<ion-view view-title="Account">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Profile
      </div>
      <div class="item item-text-wrap">
        <img ng-src="" id="myImage" width="100%">
        <button ng-click="getPhoto()" class="button button-block button-primary">Take Picture</button>
        <div class="spacer" style="height: 20px;"></div>
        <form class="list">
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" value="Lim Meng Hong">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" value="menghong@student.anglia.ac.uk">
          </label>
          <div class="spacer" style="height: 10px;"></div>
          <button type="submit" class="button button-balanced button-block">Save changes</button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Settings
      </div>
      <div class="item item-text-wrap">
        <button class="button button-assertive button-block" ng-click="logout()">Logout</button>
      </div>
    </div>
  </ion-content>
</ion-view>
