<ion-view view-title="Timetable">
  <ion-content class="padding">
    <div class="list card" ng-repeat="thing in things" href="">
      <div class="item item-divider">{{thing.day}}</div>
      <div class="item item-body">
        <div>
          {{thing.module}} at <b>{{thing.start_time}}</b>
        </div>
      </div>
    </div>
    <!--<a class="button button-calm button-block" href="#/tab/timetable-edit">Edit timetable</a>-->
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <a class="button button-clear" href="#/tab/timetable-add"><span class="ion-plus-round"></span> Add a class</a>
    <!--<div class="title">Title</div>-->
    <a class="button button-clear" href="#/tab/timetable-edit_day"><span class="ion-edit"></span> Edit timetable</a>
  </div>
</ion-view>
