<ion-view view-title="Timetable">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Next class (1.30pm to 3.30pm)</div>
      <div class="item item-body">
        <div>
          Mobile Technology at <b>Lab 001</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Later (4.30pm to 6.00pm)</div>
      <div class="item item-body">
        <div>
          C++ Programming at <b>Lab 002</b>
        </div>
      </div>
    </div>
    <!--<a class="button button-calm button-block" href="#/tab/timetable-edit">Edit timetable</a>-->
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <a class="button button-clear" href="#/tab/timetable-add"><span class="ion-plus-round"></span> Add a class</a>
    <!--<div class="title">Title</div>-->
    <a class="button button-clear" href="#/tab/timetable-edit_day"><span class="ion-edit"></span> Edit timetable</a>
  </div>
</ion-view>
