<ion-view view-title="Account">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Profile
      </div>
      <div class="item item-text-wrap">
        <!--<img src="">-->
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <form class="list">
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" value="Lim Meng Hong">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" value="menghong@student.anglia.ac.uk">
          </label>
          <div class="spacer" style="height: 10px;"></div>
          <button type="submit" class="button button-balanced button-block">Save changes</button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Settings
      </div>
      <div class="item item-text-wrap">
        <a class="button button-assertive button-block" href="#/login">Logout</a>
      </div>
    </div>
  </ion-content>
</ion-view>
