<ion-view view-title="Timetable">
  <ion-content class="padding">
    <div class="list card" ng-repeat="timetable in timetables">
      <div class="item item-divider">{{timetable.day}}</div>
      <div class="item item-body">
        <div>
          {{timetable.module}} at {{timetable.venue}} <br>
          From <b>{{timetable.start_time}}</b> to <b>{{timetable.end_time}}</b><br>
          By {{timetable.lecturer}}
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm">
    <a class="button button-clear" href="#/tab/timetable-add"><span class="ion-plus-round"></span> Add a class</a>
    <a class="button button-clear" href="#/tab/timetable-edit"><span class="ion-edit"></span> Edit timetable</a>
  </div>
</ion-view>
