<ion-view view-title="Edit class">
  <ion-content class="padding">
      <form class="list">
        <label class="item item-input">
          <span class="input-label">Subject</span><input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Code</span><input type="text">
        </label>
        <label class="item item-select">
          <span class="input-label">Select day</span>
          <select>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Time</span><input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Venue</span><input type="text">
        </label>
        <div class="spacer" style="height: 40px;"></div>
        <!--<button type="submit" class="button button-balanced button-block">Save changes</button>-->
      </form>
  </ion-content>
  <div class="bar bar-footer bar-balanced item-input-inset">
    <button class="button button-clear button-block">
      Save changes
    </button>
  </div>
</ion-view>
