<ion-view view-title="Add a class">
  <ion-content class="padding">
      <form name="timetableForm" class="list" novalidate>
        <label class="item item-input">
          <span class="input-label">Module</span><input type="text" name="module" ng-model="newTimetable.module" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Code</span><input type="text" name="code" ng-model="newTimetable.code" required>
        </label>
        <label class="item item-select">
          <span class="input-label">Select day</span>
          <select name="day" ng-model="newTimetable.day" required>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </label>
        <label class="item item-select">
          <!--<span class="input-label">Start time</span><input type="text" name="start_time" ng-model="newTimetable.start_time" required>-->
          <span class="input-label">Select start time</span>
          <select name="day" name="start_time" ng-model="newTimetable.start_time" required>
            <option>07:00 AM</option>
            <option>08:00 AM</option>
            <option>09:00 AM</option>
            <option>10:00 AM</option>
            <option>11:00 AM</option>
            <option>12:00 PM</option>
            <option>01:00 PM</option>
            <option>02:00 PM</option>
            <option>03:00 PM</option>
            <option>04:00 PM</option>
            <option>05:00 PM</option>
            <option>06:00 PM</option>
            <option>07:00 PM</option>
            <option>08:00 PM</option>
            <option>09:00 PM</option>
            <option>11:00 PM</option>
            <option>12:00 AM</option>
            <option>01:00 AM</option>
            <option>02:00 AM</option>
            <option>03:00 AM</option>
            <option>04:00 AM</option>
            <option>05:00 AM</option>
            <option>06:00 AM</option>
          </select>
        </label>
        <label class="item item-select">
          <!--<span class="input-label">End time</span><input type="text" name="end_time" ng-model="newTimetable.end_time" required>-->
          <span class="input-label">Select end time</span>
          <select name="day" name="end_time" ng-model="newTimetable.end_time" required>
            <option>07:00 AM</option>
            <option>08:00 AM</option>
            <option>09:00 AM</option>
            <option>10:00 AM</option>
            <option>11:00 AM</option>
            <option>12:00 PM</option>
            <option>01:00 PM</option>
            <option>02:00 PM</option>
            <option>03:00 PM</option>
            <option>04:00 PM</option>
            <option>05:00 PM</option>
            <option>06:00 PM</option>
            <option>07:00 PM</option>
            <option>08:00 PM</option>
            <option>09:00 PM</option>
            <option>11:00 PM</option>
            <option>12:00 AM</option>
            <option>01:00 AM</option>
            <option>02:00 AM</option>
            <option>03:00 AM</option>
            <option>04:00 AM</option>
            <option>05:00 AM</option>
            <option>06:00 AM</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Venue</span><input type="text" name="venue" ng-model="newTimetable.venue" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Lecturer</span><input type="text" name="lecturer" ng-model="newTimetable.lecturer" required>
        </label>
        <div class="spacer" style="height: 20px;"></div>
        <!--<button type="submit" class="button button-balanced button-block">Save changes</button>-->
        <div class="padding">
            <p ng-show="timetableForm.module.$error.required">* Module name is required</p>
            <p ng-show="timetableForm.code.$error.required">* Module code is required</p>
            <p ng-show="timetableForm.day.$error.required">* Day is required</p>
            <p ng-show="timetableForm.start_time.$error.required">* Start time is required</p>
            <p ng-show="timetableForm.end_time.$error.required">* End time is required</p>
            <p ng-show="timetableForm.venue.$error.required">* Venue is required</p>
            <p ng-show="timetableForm.lecturer.$error.required">* Lecturer name is required</p>
        </div>
        <button type="submit" class="button button-balanced button-block" ng-click="add(newTimetable)" ng-disabled="timetableForm.$invalid">
            Save changes
        </button>
      </form>
  </ion-content>
</ion-view>
